section.about-us{
    background: url("/images/barbershop 1st.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: grayscale(100%);
}

.container{
    max-width: 1300px;
}


/* Media Queries for the about us page */

@media screen and (max-width:767.98px){
    .about-us{
        font-size: 2em !important;
    }
}