/* Enter custom styling  h ere */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.contact-us-form input {
    height: 60px;
    border-radius: 0px;
}

.contact-us-form button:hover, .contact-us-form button:active, .contact-us-form button:active {
    background-color:#ac8a67;
    border: 1px solid transparent;
}

.contact-us-form {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.02em;
 }

 iframe {
    width:100%;
    height: 500px;
 }

 .contact-form-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #0B1116;
 }

 .btn-primary {
    background: #5C4624;
    border-radius: 0px;
    background-color: #664c32;
    color: #fff;
    border-color: transparent;
 }

 .btn-primary:hover, .btn-primary:active, .btn-primary:focus, {
    background: #5C4624;
    border-radius: 0px;
    background-color: #ac8a67;
    border-color: transparent;
 }

 .jumbotron {
    background-image: url("../assets/images/contact.png");
    background-repeat: repeat-y;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 350px;
 }

 .display-6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
 }

@include media-breakpoint-up(sm) {
 .display-6 {
    font-size: 1;
 }
}