/* Enter custom styling  h ere */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.contact-us-form input {
    height: 60px;
}

.contact-us-form button:hover, .contact-us-form button:active, .contact-us-form button:active {
    background-color:#ac8a67;
    border: 1px solid transparent;
}

.contact-us-form {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.02em;
 }