

.navbar .nav-item {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    margin: 0px 6px;
    font-weight: 500;
}

.navbar-main {
    height: 90px;
    text-transform: uppercase;
}

#navbarsExample08{
    z-index: 99999;
}

.navbar-top {
    height: 50px;
    background: #302F2F;
    padding: 0em 6em;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0.02em;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.navbar-top .nav-item, navbar-top button {
    font-size: .8rem;
}

.book-appoint-top {
    background-color: #5C4624 !important;
    height: 50px;
    border-radius: 0px;
    border: 0px solid #302f2f !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px!important; /**@bukky added this**/
}

.navbar-top img, .footer-copy img {
    max-height: 16px;
    margin-right:5px;
}

.footer-copy img {
    max-height: 16px;
    margin-right:15px;
}

a, a:hover, a:focus, a:active {
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 768px)
.m-md-3 {
    margin: 0rem!important;
}

.jumbotron {
    background-color: white;
    border-radius: 0px;
    margin-bottom: 0rem;
}

footer {
    color: #fff;
    background-image: url("../assets/images/footer-bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.navbar-main {
    color: #fff;
    background-image: url("../assets/images/footer-bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subscribe button {
    background-color:#664c32;
    color: #fff;
    border: 1px solid transparent;
}

.subscribe h6 {
    margin-bottom:35px;
}

.subscribe input {
    height: 41px; /*Previously 60-@bukky added this*/
}

.subscribe button:hover, .subscribe button:active, .subscribe button:active {
    background-color:#ac8a67;
    border: 1px solid transparent;
}


.footer-main {
    padding: 4rem 1rem 0rem 1rem;
}

.footer-copy {
    background: #302F2F;
    padding: 1rem;
}

ul li {
    list-style-type: none;
}



@media (min-width: 768px){
.m-md-3 {
    margin: 0rem!important;
}

.jumbotron {
    background-color: white;
    border-radius: 0px;
    margin-bottom: 0rem;
}

.text-muted {
    color: #c9c9c9!important;
}


.quick-links li {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.04em;
}

}


@media screen and (max-width:823px){
    #navbarsExample08{
        background-color: #302f2f;
    }

    .offset-2{
        margin-left: 0.2rem !important;
    }

    ul li{
        margin-right:0.7rem;
    }
}

.quick-links li {
    margin-bottom: .25rem;
}