@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
    .header{
        height:300px;
        background-color: red;
    }

     .services_column{
        height: auto;
        max-width: 100%;
        margin-top: 30px !important;
        margin-left: 0px !important;
        margin-right: 0px !important ;
    }
    /* Styles */
    }

    /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .header{
        height:300px;
        background-color: red;
    }

    
    }

.header{
    background-image: url(../images/4.png);
    height:400px;
}
.header h3{
    color:white;
    text-align: center;
    padding-top: 300px;
    font-size: 40px;
}


.sub_header{
    padding-top: 100px;
    padding-bottom: 100px;
}
.sub_header h3{
    font-size:35px;
    font-weight: 700;
    text-align:center;
}
.sub_header p{
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}


.services{
    margin-bottom: 40px;
}
.services_column{
    height: auto;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 60px;
}
.services_column h3{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}
.services_column p{
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}
img{
    max-width: 100%;
    max-height: auto;
}

.sub_services{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub_services_column{
    height:auto;
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: rgba(200, 189, 176, 0.28);
    outline: 5px solid white !important;
    outline-offset: -20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.sub_div{
    background-color: #D8DEE4;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 100px;
}.sub_services_column h3{
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.sub_services_column p{
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}